*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    background-color: #f4f4f4;   
}
nav{
   color: #333;
    padding: 10px 20px;
}
.logo{
    font-size: 24px;
    margin-left: 150px;
}
ul{
    list-style-type: none;
    display: flex;
    position: relative;
    justify-content: center;
    gap: 10px;
    top: -45px;
    gap: 35px;
    margin-left: -100px;
}
li{
    cursor: pointer;
}
ul li:hover{
    color: #D23166;
}
.btn{
    background-color: #D23166;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    position: relative;
    left: 1000px;
    top: -75px;
    width: 130px;
    border: none;
}
/* Home section start */
.home{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -40px;
}
.home .p1{
        letter-spacing: 10%;
        color: #0F0101;
}
.home img{
    width: 500px;
    height: 500px;
    
}